/* CSS Boilerplate */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  color: rgb(231, 230, 230);
}
.card {
    width: 550px;
    padding: 10px;
    border-radius: 15px;
    position: absolute;
    right: 90px;
       /* moves card to the side */
    top: 30%;
}

.card img {
    width: 100%;
    border-radius: 0px;
}


h1{
    font-size: 100px;
    padding: 20px auto;
    border-radius: 30px;
    transition: all 0.9s ease;
    width: 50%;


}

button {
  display: block;
  margin: 20px auto;
  padding: 20px 30px;
  border-radius: 10px;
  font-size: 2rem;
  cursor: pointer;
}

button:hover {
  background-color: lightgray;
}
button:active {
    scale: 0.98;
  background-color: rgb(158, 16, 16);
  color: white;
}
